@import "./flex";

html, body, input, button {
    font-family: 'Hind', sans-serif;
}

$grey: #f4f4f4;
$primary-color: #5a67d8;
$font-color: #718096;
$heading-color: #2d3748;
$bg-lightgrey: #f8f9fa;
$bg-color: #131617;
$bg-grey: #0b0d0e;

.container {
    width: 1200px;
    margin: 0 auto;
}

.mode {
    > form {
        > input {
            opacity: 0;
            width: 20px;
            height: 20px;
            position: fixed;
            z-index: 10;
            top: 36px;
            right: 375px;

            &:checked {
                ~ header {
                    background-color: $bg-color;
                    .container {
                        a.logo {
                            h1 {
                                color: #fff;
                            }
                        }
                        i.sun {
                            display: block;
                        }
                        i.moon {
                            display: none;
                        }
                        form {
                            .input-group {
                                input {
                                    background-color: $bg-grey;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

header {
    z-index: 9;
    background-color: white;
    width: 100%;
    position: fixed;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 5px 5px 0px;
    .container {
        position: relative;
        box-sizing: border-box;
        height: 92px;
        padding: 22px 22px;
        a.logo {
            i {
                color: $primary-color;
                font-size: 26px;
            }
            h1 {
                margin-left: 10px;
                color: $heading-color;
                font-weight: 600;
                font-size: 28px;
                font-family: 'Hind', sans-serif;
            }
        }

        form {
            input {
                background-color: $grey;
                width: 100%;
                padding: 10px 20px 10px 50px;
            }
        }

        // form{
        //     position: absolute;
        //     left: 50%;
        //     top: 50%;
        //     transform: translate(-50%, -50%);
        //     .input-group {
        //         width: 400px;
        //         height: 48px;
        //         box-sizing: border-box;
        //         button {
        //             padding: 10px 20px;
        //             background-color: $grey;
        //             border-top-left-radius: 6px;
        //             border-bottom-left-radius: 6px;
        //             i {
        //                 color: $font-color;
        //             }
        //         }
        //         input {
        //             background-color: $grey;
        //             width: 100%;
        //             padding: 10px;
        //             padding-left: 0px;
        //             border-top-right-radius: 6px;
        //             border-bottom-right-radius: 6px;
        //             color: $font-color;
        //             font-size: 17px;
        //         }
        //     }
        // }
        .menu {
            > ul {
                display: flex;
                > li {
                    position: relative;
                    padding: 10px;
                    &:hover {
                        ul.dropdown {
                            display: block;
                        }
                    }
                    a {
                        font-size: 18px;
                        font-weight: 500;
                        color: $font-color;
                        transition: 0.4s;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                    i {
                        color: $font-color;
                        margin-left: 5px;
                        font-size: 12px;
                        transform: rotate(0deg);
                    }
                    a.active {
                        color: $primary-color;
                    }
                    ul.dropdown {
                        z-index: 10;
                        background-color: white;
                        position: absolute;
                        box-sizing: border-box;
                        display: none;
                        width: 200px;
                        left: 20px;
                        padding: 10px 15px;
                        border-radius: 6px;
                        transform: translateX(-30%);
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                        li {
                            padding-top: 5px;
                        }
                    }
                }
            }
        }

        i.moon, i.sun{
            color: $font-color;
            margin-left: 10px;
            font-size: 22px;
            transform: rotate(-20deg);
        }

        i.sun {
            display: none;
        }
    }
}

.button {
    position: fixed;
    top: 150px;
    right: 35px;
    form {
        input {
            position: relative;
            display: none;
            &:checked {
                ~ label {
                    i {
                        transform: rotate(180deg);
                        color: rgba(230,235,255,0.5);
                    }
                }
                ~ .function {
                    left: -57px;
                }
            }
        }
        label {
            position: absolute;
            top: 15px;
            left: -20px;
            i {
                cursor: pointer;
                z-index: 10;
                font-size: 18px;
                color: #e6ebff;
            }
            &::before {
                z-index: 10;
                content: "";
                cursor: pointer;
                position: absolute;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: rgba(13,19,38, 0.5);
            }
        }
        .function {
            position: absolute;
            padding: 0px 5px;
            top: -10px;
            left: 37px;
            width: 90px;
            height: 321px;
            transition: left 0.4s;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: #0D1326;
            .box1 {
                width: 90px;
                height: 70px;
                border-bottom: 1px solid rgba(230,235,255,0.2);
            }
            .box2 {
                width: 80px;
                height: 190px;
                text-align: center;
                // background-color: white;
                padding: 35px 0px 20px;
                .function-button {
                    cursor: pointer;
                    &:hover {
                        i,span {
                            color: rgb(230,235,255);
                        }
                    }
                    i {
                        position: relative;
                        font-size: 18px;
                        color: rgba(230,235,255,0.7);
                        transition: 0.4s;
                    }
                    i.buy {
                        font-size: 13px;
                    }
                    span {
                        display: inline-block;
                        color: rgba(230,235,255,0.7);
                        margin-bottom: 15px;
                        transition: 0.4s;
                    }
                }
            }
        }
    }
}

.content1 {
    padding-top: 92px;
    background-color: $grey;
    .container {
        position: relative;
        box-sizing: border-box;
        height: 815px;
        ul {
            width: 100%;
            height: 251px;
            li {
                box-sizing: border-box;
                width: 281px;
                height: 107px;
                background-color: white;
                border-radius: 10px;
                box-shadow: rgba(100, 100, 111, 0.05) 0px 5px 5px 0px;
                text-align: center;
                padding: 15px;
                transition: 0.3s;
                &:hover {
                    h4 {
                        color: $primary-color;
                    }
                    transform: translateY(-5px);
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 5px 0px;
                }
                i {
                    color: $primary-color;
                    font-size: 27.5px;
                }
                h4 {
                    margin-top: 10px;
                    color: $font-color;
                    font-weight: 700;
                    font-size: 20px;
                    transition: 0.4s;
                }
            }
        }
        .items {
            position: relative;
            width: 100%;
            height: 480px;
            box-sizing: border-box;
            padding: 10px;
            .bg-img {
                position: absolute;
                right: 15px;
                width: 370px;
                height: 460px;
                border-radius: 15px;
                background: url(/images/beauty.webp) no-repeat center/cover;
            }
            .describe {
                height: 247px;
                span.tittle {
                    display: inline-block;
                    padding: 5px 20px;
                    background-color: rgba(90, 103, 216, 0.05);
                    color: $primary-color;
                    font-weight: 600;
                    border-radius: 15px;
                }
                h3 {
                    margin-top: 22.5px;
                    font-weight: 600;
                    font-size: 45px;
                    line-height: 55px;
                    max-width: 730px;
                    font-family: 'Libre Baskerville', serif;
                    color: $heading-color;
                }
            }
        }
    }
    .circles {
        position: absolute;
        bottom: 100px;
        left: 10px;
        width: 104px;
        height: 29px;
        .circle {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #d8d8d8;
            &:hover {
                background-color: $primary-color;
            }
        }
        .active {
            background-color: $primary-color;
        }
    }
}

.content2 {
    padding: 48px 0px;
    .container {
        position: relative;
        box-sizing: border-box;
        height: 616px;
        padding: 48px 15px;
        h3 {
            font-size: 26px;
            line-height: 36px;
            font-weight: 700;
            font-family: 'Libre Baskerville', serif;
            color: $heading-color;
        }
        .cards {
            margin-top: 24px;
            .first-card {
                background-image: url(/images/card1.webp);
            }
            .second-card {
                background-image: url(/images/card2.webp);
            }
            .third-card {
                background-image: url(/images/card3.webp);
            }
            .first-card, .second-card, .third-card {
                width: 370px;
                height: 460px;
                border-radius: 15px;
                background-size: cover;
                background-repeat: no-repeat;
                transition: 0.4s;
                &:hover {
                    transform: translateY(-5px);
                }
                .bg-blur {
                    position: relative;
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                    padding: 20px;
                    border-radius: 15px;
                    background-color: rgba(0,0,0,0.65);
                    .tittle {
                        position: absolute;
                        bottom: 20px;
                        a {
                            font-size: 24px;
                            line-height: 1.33;
                            font-weight: 700;
                            color: white;
                        }
                        .logo-date {
                            width: 100%;
                            margin-top: 16px;
                            img {
                                cursor: pointer;
                                border-radius: 50%;
                                border: 2px solid #999;
                            }
                            .brand-date {
                                margin-left: 10px;
                                span {
                                    color: white;
                                }
                                span.brand {
                                    cursor: pointer;
                                    font-size: 18px;
                                    font-weight: 500;
                                    line-height: 28px;
                                }
                                .date-time {
                                    color: $font-color;
                                    span.time {
                                        margin-left: 15px;
                                        i {
                                            margin-right: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}

.content3 {
    background-color: $bg-lightgrey;
    padding-top: 48px;
    .container {
        flex-wrap: wrap;
        padding-top: 48px;
        .left-container, .right-container {
            > h3 {
                margin-left: 15px;
            }
            h3 {
                font-size: 26px;
                line-height: 36px;
                font-weight: 700;
                font-family: 'Libre Baskerville', serif;
            }
        }

        .left-container {
            width: 800px;
            .picks {
                display: flex;
                flex-wrap: wrap;
                .pick {
                    cursor: pointer;
                    width: 50%;
                    margin-top: 25px;
                    .card-box {
                        padding: 0px 15px;
                        .card {
                            border-radius: 15px;
                            background-color: white;
                            box-shadow: rgba(1,1,1, 0.05) 1px 1px 5px 0px;
                            transition: 0.4s;
                            &:hover {
                                transform: translateY(-5px);
                                box-shadow: rgba(1,1,1, 0.25) 2px 2px 10px 0px;
                            }
                            img {
                                cursor: pointer;
                                border-top-left-radius: 15px;
                                border-top-right-radius: 15px;
                                width: 100%;
                                height: 250px;
                            }  

                            .card-title {
                                box-sizing: border-box;
                                width: 100%;
                                padding: 15px 25px 27.5px;
                                > span {
                                    display: inline-block;
                                    color: $primary-color;
                                    font-weight: 600;
                                    background: rgba(90, 103, 216, 0.05);
                                    border-radius: 15px;
                                    margin-bottom: 16px;
                                    padding: 5px 20px;
                                    a {
                                        color: $primary-color;
                                        transition: 0.4s;
                                        &:hover {
                                            color: #4650a8;
                                        }
                                    }
                                }
                                > a {
                                    display: inline-block;
                                    font-size: 21.6px;
                                    line-height: 1.33;
                                    font-weight: 700;
                                    color: $heading-color;
                                    transition: 0.4s;
                                    &:hover {
                                        color: $primary-color;
                                    }
                                }
                                .logo-date {
                                    width: 100%;
                                    margin-top: 16px;
                                    img {
                                        width: 56px;
                                        height: 56px;
                                        cursor: pointer;
                                    }
                                    .brand-date {
                                        margin-left: 10px;
                                        span.brand {
                                            cursor: pointer;
                                            font-size: 18px;
                                            font-weight: 500;
                                            line-height: 28px;
                                            color: $heading-color;
                                        }
                                        .date-time {
                                            color: $font-color;
                                            span.time {
                                                margin-left: 15px;
                                                i {
                                                    margin-right: 5px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }   
            }
        }
        
        .right-container {
            width: 400px;
            h3 {
                margin-bottom: 25px;
            }
            .topics {
                padding: 0px 15px;
                ul {
                    li {
                        margin-bottom: 15px;
                        border-radius: 15px;
                        background-color: #fff;
                        box-shadow: rgba(1,1,1,0.05) 1px 1px 5px 0px;
                        a {
                            display: inline-block;
                            padding: 15px 20px;
                            font-size: 17px;
                            line-height: 28px;
                            font-weight: 600;
                            color: $font-color;
                        }
                    }
                }
            }

            .sponsers {
                padding: 0px 15px;
                margin-top: 48px;
                a {
                    img {
                        width: 370px;
                        height: 270px;
                        border-radius: 15px;
                    }
                }

                .advertise {
                    width: 370px;
                    text-align: center;
                    font-size: 14px;
                    a {
                        color: $font-color;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }

        .learn-more {
            box-sizing: border-box;
            width: 770px;
            height: 84px;
            box-shadow: rgba(1,1,1, 0.05) 1px 1px 5px 0px;
            border-radius: 15px;
            background-color: #fff;
            margin: 24px 15px;
            padding: 16px;
            h3 {
                padding-left: 8px;
                color: $heading-color;
                font-family: 'Libre Baskerville', serif;
                font-size: 26px;
                line-height: 36px;
                font-weight: 700;
            }
            a {
                padding: 12px 35px;
                line-height: 26px;
                font-weight: 600;
                transition: 0.4s;
                border-radius: 5px;
                text-align: center;
                color: #fff;
                background-color: $primary-color;
                &:hover {
                    background-color: #4650a8;
                }
            }
        }
    }
}

.content4 {
    background-color: $bg-lightgrey;
    padding-top: 185px;
    padding-bottom: 95px;
    .container {
        box-sizing: border-box;
        .header-title {
            padding: 0px 8px;
            h3 {
                color: $heading-color;
                font-family: 'Libre Baskerville', serif;
                font-size: 26px;
                line-height: 36px;
                font-weight: 700;
                padding: 0px 8px;
            }

            a {
                display: inline-block;
                margin-top: 7.5px;
                margin-right: 6px;
                background-color: #e2e8f0;
                border-radius: 15px;
                color: $font-color;
                font-weight: 500;
                padding: 6px 20px;
                transition: 0.4s;
                &:hover {
                    color: #fff;
                    background-color: $primary-color;
                }
            }
        }

        .fashion-style-cards {
            width: 1200px;
            height: 470px;
            .pick {
                width: 400px;
                margin-top: 25px;
                .card-box {
                    padding: 0px 15px;
                    .card {
                        border-radius: 15px;
                        background-color: white;
                        box-shadow: rgba(1,1,1, 0.05) 1px 1px 5px 0px;
                        transition: 0.4s;
                        &:hover {
                            transform: translateY(-5px);
                            box-shadow: rgba(1,1,1, 0.25) 2px 2px 10px 0px;
                        }
                        img {
                            cursor: pointer;
                            border-top-left-radius: 15px;
                            border-top-right-radius: 15px;
                            width: 100%;
                            height: 250px;
                        }  

                        .card-title {
                            box-sizing: border-box;
                            width: 100%;
                            padding: 30px 25px 27.5px;
                            > a {
                                display: inline-block;
                                font-size: 21.6px;
                                line-height: 1.33;
                                font-weight: 700;
                                color: $heading-color;
                                transition: 0.4s;
                                &:hover {
                                    color: $primary-color;
                                }
                            }
                            .logo-date {
                                width: 100%;
                                margin-top: 16px;
                                img {
                                    width: 56px;
                                    height: 56px;
                                    cursor: pointer;
                                }
                                .brand-date {
                                    margin-left: 10px;
                                    span.brand {
                                        cursor: pointer;
                                        font-size: 18px;
                                        font-weight: 500;
                                        line-height: 28px;
                                        color: $heading-color;
                                    }
                                    .date-time {
                                        color: $font-color;
                                        span.time {
                                            margin-left: 15px;
                                            i {
                                                margin-right: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.content5 {
    background-color: $grey;
    padding: 80px 0px 95px;
    .container {
        box-sizing: border-box;
        .header-title {
            padding: 0px 8px;
            h3 {
                color: $heading-color;
                font-family: 'Libre Baskerville', serif;
                font-size: 26px;
                line-height: 36px;
                font-weight: 700;
                padding: 0px 8px;
            }

            a {
                display: inline-block;
                margin-top: 7.5px;
                margin-right: 6px;
                background-color: #e2e8f0;
                border-radius: 15px;
                color: $font-color;
                font-weight: 500;
                padding: 6px 20px;
                transition: 0.4s;
                &:hover {
                    color: #fff;
                    background-color: $primary-color;
                }
            }
        }

        .Beauty-cards {
            display: flex;
            flex-wrap: wrap;
            .pick {
                width: 600px;
                height: 300px;
                margin-top: 25px;
                .card-box {
                    padding: 0px 15px;
                    .card {
                        border-radius: 15px;
                        background-color: #fff;
                        box-shadow: rgba(1,1,1, 0.05) 1px 1px 5px 0px;
                        transition: 0.4s;
                        &:hover {
                            transform: translateY(-5px);
                            box-shadow: rgba(1,1,1, 0.25) 2px 2px 10px 0px;
                        }

                        .image {
                            width: 385px;
                            height: 300px;
                            border-top-left-radius: 15px;
                            border-bottom-left-radius: 15px;
                            overflow: hidden;
                            img {
                                cursor: pointer;
                                width: 100%;
                                height: 300px;
                                transform: scaleX(1.275);
                            }
                        }

                        .card-title {
                            box-sizing: border-box;
                            width: 100%;
                            padding: 30px 25px 27.5px;
                            > a {
                                display: inline-block;
                                font-size: 21.6px;
                                line-height: 1.33;
                                font-weight: 700;
                                color: $heading-color;
                                transition: 0.4s;
                                &:hover {
                                    color: $primary-color;
                                }
                            }
                            .logo-date {
                                width: 100%;
                                margin-top: 16px;
                                img {
                                    width: 56px;
                                    height: 56px;
                                    cursor: pointer;
                                }
                                .brand-date {
                                    margin-left: 10px;
                                    span.brand {
                                        cursor: pointer;
                                        font-size: 18px;
                                        font-weight: 500;
                                        line-height: 28px;
                                        color: $heading-color;
                                    }
                                    .date-time {
                                        color: $font-color;
                                        span.time {
                                            margin-left: 15px;
                                            i {
                                                margin-right: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.content6 {
    background-color: $bg-lightgrey;
    padding: 95px 0px;
    .container {
        box-sizing: border-box;
        .header-title {
            padding: 0px 8px;
            h3 {
                color: $heading-color;
                font-family: 'Libre Baskerville', serif;
                font-size: 26px;
                line-height: 36px;
                font-weight: 700;
                padding: 0px 8px;
            }

            a {
                display: inline-block;
                margin-top: 7.5px;
                margin-right: 6px;
                background-color: #e2e8f0;
                border-radius: 15px;
                color: $font-color;
                font-weight: 500;
                padding: 6px 20px;
                transition: 0.4s;
                &:hover {
                    color: #fff;
                    background-color: $primary-color;
                }
            }
        }

        .trending-cards {
            display: flex;
            flex-wrap: wrap;
            .pick {
                width: 600px;
                height: 300px;
                margin-top: 25px;
                .card-box {
                    padding: 0px 15px;
                    .card {
                        border-radius: 15px;
                        background-color: #fff;
                        box-shadow: rgba(1,1,1, 0.05) 1px 1px 5px 0px;
                        transition: 0.4s;
                        &:hover {
                            transform: translateY(-5px);
                            box-shadow: rgba(1,1,1, 0.25) 2px 2px 10px 0px;
                        }

                        .image {
                            cursor: pointer;
                            width: 385px;
                            height: 300px;
                            border-top-left-radius: 15px;
                            border-bottom-left-radius: 15px;
                            overflow: hidden;
                            img {
                                width: 100%;
                                height: 300px;
                                transform: scaleX(2.05);
                            }
                        }
                        
                        .card-title {
                            box-sizing: border-box;
                            width: 100%;
                            padding: 30px 25px 27.5px;
                            > span {
                                display: inline-block;
                                color: $primary-color;
                                font-weight: 600;
                                background: rgba(90, 103, 216, 0.05);
                                border-radius: 15px;
                                margin-bottom: 16px;
                                padding: 5px 20px;
                                a {
                                    color: $primary-color;
                                    transition: 0.4s;
                                    &:hover {
                                        color: #4650a8;
                                    }
                                }
                            }
                            > a {
                                display: inline-block;
                                font-size: 21.6px;
                                line-height: 1.33;
                                font-weight: 700;
                                color: $heading-color;
                                transition: 0.4s;
                                &:hover {
                                    color: $primary-color;
                                }
                            }
                            .logo-date {
                                width: 100%;
                                margin-top: 16px;
                                img {
                                    width: 56px;
                                    height: 56px;
                                    cursor: pointer;
                                }
                                .brand-date {
                                    margin-left: 10px;
                                    span.brand {
                                        cursor: pointer;
                                        font-size: 18px;
                                        font-weight: 500;
                                        line-height: 28px;
                                        color: $heading-color;
                                    }
                                    .date-time {
                                        color: $font-color;
                                        span.time {
                                            margin-left: 15px;
                                            i {
                                                margin-right: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.content7 {
    background-color: $grey;
    padding: 95px 0px;
    .container {
        box-sizing: border-box;
        padding: 0px 15px;
        .bg-white {
            box-sizing: border-box;
            text-align: center;
            background-color: #fff;
            padding-top: 96px;
            width: 1170px;
            height: 365px;
            border-radius: 15px;
            box-shadow: rgba(1,1,1, 0.05) 1px 1px 5px 0px;
            h3 {
                font-size: 26px;
                line-height: 36px;
                font-weight: 700;
                margin-bottom: 8px;
                color: $heading-color;
                font-family: 'Libre Baskerville', serif;
            }
            p {
                font-size: 18px;
                line-height: 28px;
                margin-bottom: 48px;
                color: $font-color;
            }
            form {
                input {
                    box-sizing: border-box;
                    position: relative;
                    width: 400px;
                    height: 52px;
                    right: 0;
                    color: $font-color;
                    font-size: 17px;
                    font-weight: 400;
                    border-radius: 6px;
                    background-color: $grey;
                    padding-left: 20px;
                }
                button {
                    &:hover {
                        label {
                            background-color: #4650a8;
                        }
                    }
                    label {
                        cursor: pointer;
                        padding: 12px 35px;
                        font-size: 16px;
                        line-height: 26px;
                        font-weight: 600;
                        border-radius: 6px;
                        transition: 0.4s;
                        background-color: $primary-color;
                        color: #fff;
                    }
                }
            }
        }
    }
}

footer {
    .container {
        box-sizing: border-box;
        height: 460px;
        padding-top: 64px;
        .info {
            width: 390px;
            padding: 0px 15px;
            height: 333;
            a.logo {
                margin: -5px 0px 15px;
                i {
                    color: $primary-color;
                    font-size: 26px;
                }
                h1 {
                    margin-left: 10px;
                    color: $heading-color;
                    font-weight: 600;
                    font-size: 28px;
                    font-family: 'Hind', sans-serif;
                }
            }
            p {
                color: $font-color;
                font-size: 18px;
                line-height: 28px;
            }
            span {
                display: inline-block;
                margin-top: 8px;
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
                color: $heading-color;
                font-family: 'Libre Baskerville', serif;
                a {
                    color: $primary-color;
                    &:hover {
                        color: #4650a8;
                    }
                }
            }
        }

        .contact {
            display: flex;
            width: 800px;
            height: 333px;
            ul {
                box-sizing: border-box;
                width: 227px;
                span {
                    display: inline-block;
                }
                > span {
                    color: $heading-color;
                    font-size: 20px;
                    line-height: 28px;
                    margin-bottom: 20px;
                    font-weight: 600;
                    font-family: 'Libre Baskerville', serif;
                }
                li {
                    a {
                        color: $font-color;
                        font-size: 18px;
                        line-height: 24px;
                        display: inline-block;
                        transition: 0.4s;
                        &:hover {
                            color: $heading-color;
                        }
                    }
                }
            }

            ul.recent {
                margin-right: 30px;
                li {
                    span {
                        font-size: 80%;
                        margin-bottom: 16px;
                        color: $font-color;
                    }
                }
            }

            ul.categories {
                margin-right: 32px;
                li {
                    margin-bottom: 8px;
                }
            }

            ul.social {
                li {
                    margin-bottom: 8px;
                    a {
                        i {
                            font-size: 14px;
                            width: 25px;
                        }

                        i.fb {
                            color: #3a5998;
                        }

                        i.twitter {
                            color: #55acee;
                        }

                        i.linkedin {
                            color: #00a0dc;
                        }

                        i.dribbble {
                            color: #ea4c89;
                        }
                    }
                }
            }
        }
    }
}